@import './components/reset';
@import './components/variables';
@import './components/global';
@import './layout/header';
@import './layout/main';
@import './layout/footer';


.img {
    height: 200px;
}
.img_house{
    width: 30px;
    transform: rotate(90deg);
}